@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.none {
    display: none !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;

    border-bottom-right-radius: 100px;
    background-color: #000;
    color: #fff;
}

.header .container {
    position: relative;
    z-index: 2;
}

.header-video {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.1;
    z-index: 0;
    position: absolute;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
}

.header-img {
    border-radius: 80px;
}

.header-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
}

.header-text {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
}

.header-btns {
    display: flex;
    column-gap: 20px;
}

.btn {
    height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #2b2b2b;
    border-radius: 8px;

    color: #fff;
    line-height: 1;

    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: #1782CF;
}

.btn-outline {
    height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

    border: 1px solid #3B3B3B;
    border-radius: 8px;

    color: #fff;
    line-height: 1;

    transition: all 0.2s ease-in;
}

.btn-outline:hover {
    border-color: #1782CF;
}

.portfolio {
    padding: 80px 0;
}

.project {
    text-align: center;
}

.portfolio-title {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 65px;
}

.project-img {
    transition: opacity ease-in 0.2s;
    border-radius: 30px;
    margin-bottom: 30px;
}

.project-img:hover {
    opacity: 0.8;
    transition: opacity ease-in 0.2s;
}

.project-title {
    font-size: 22px;
}

.project a {
    color: #000;
    text-decoration: underline;
}

.projects {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
}

.contacts {
    padding: 80px 0px;
    background-color: #252525;
    border-top-left-radius: 100px;
    color: #fff;
}

.contacts-title {
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
}

.messangers {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.messanger {
    padding: 46px 20px;
    border-radius: 20px;
    border: 1px solid #363636;
    display: flex;
    column-gap: 15px;
    align-items: center;
    color: #fff;
    font-size: 20px;
    flex-grow: 1;
    transition: 0.2s ease-in;
}

.messanger:hover {
    background-color: #1e1e1e;
}

.footer {
    padding: 30px 0px;
    background-color: #1e1e1e;
    color: #5d5d5d;
}

.footer a{
    color: #5886a8;
}

.footer-inner {
    font-size: 14px;
    text-align: center;
}

.footer-inner p + p {
    margin-top: 15px;
}

.inner-page {
    padding: 80px 0px 40px;
}

.inner-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center; 
}

.inner-page-title {
    font-size: 52px;
    font-weight: bold;
}

.inner-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    color: #555;
    line-height: 1.5;
}

.inner-page-link {
    color: #000;
}

.inner-page-link a {
    color: #000;
    text-decoration: underline;
}

.inner-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.inner-page-backlink {
    max-width: 770px;
    padding: 30px;
    margin: 0 auto;

    display: flex;
    text-align: center;
    column-gap: 30px;
    align-items: center;
    background-color: #f1f1f1;
    transition: 0.2s ease-in;
    
    display: block;
}

.inner-page-backlink:hover {
    background-color: #00000031;
}
